// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#include "mouse.dtsi"
#include "emojis.dtsi"

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &META LALT k2  &META LCTRL k3  &META LGUI k4
#define HRMR(k1,k2,k3,k4) &META RGUI k1  &META RCTRL k2  &META RALT k3  &ht RSHFT k4

#define DEFAULT 0
#define COLEMAK 1
#define NUMBER 2
#define SYMBOL 3
#define BLUETOOTH 4
#define MOUSE 5
#define NAV 6
#define MOUSE_NUM 7
#define EMOJI_1
#define EMOJI_2

#ifndef ZMK_MOUSE_DEFAULT_MOVE_VAL
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 200
#endif

#ifndef ZMK_MOUSE_DEFAULT_SCRL_VAL
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 30
#endif


&key_repeat {
    usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
};


/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <120>;
            quick-tap-ms = <90>;
            bindings = <&kp>, <&kp>;
        };
        
        META: meta_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <120>;
            bindings = <&kp>, <&kp>;
        };
    };

    // conditional_layers {
    //     compatible = "zmk,conditional-layers";
    //     tri_layer {
    //         if-layers = <NUMBER SYMBOL>;
    //         then-layer = <BLUETOOTH>;
    //     };
    // };

    keymap {
        compatible = "zmk,keymap";
        qwerty_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ REPEAT   │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B         &kp N      &kp M   &kp COMMA  &key_repeat  &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt SYMBOL TAB &lt NAV SPACE &lt MOUSE ENTER  &lt NUMBER BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        colemak_dh_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "     │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  K       │  N       │  E       │  I       │  O       │
            HRML(A,        R,         S,         T)     &kp G          &kp K      HRMR(N,        E,        I,        O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  M       │  H       │ , <      │ REPEAT   │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V         &kp M      &kp H      &kp COMMA &key_repeat &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt SYMBOL TAB &lt NAV SPACE &lt MOUSE ENTER  &lt NUMBER BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ /        │  7       │  8       │  9       │  =       │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  :       │
            &kp FSLH    &kp N7     &kp N8     &kp N9     &kp EQUAL     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ 0        │  4       │  5       │  6       │  -       │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ;       │
            HRML(N0,    N4,         N5,         N6)     &kp MINUS         &kp LARW  HRMR(DARW,   UARW,       RARW,      SEMI)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ *        │  1       │  2       │  3       │  +       │   │  INSERT  │  DELETE  │ ESCAPE   │  ,       │  .       │
           &kp ASTRK  &kp N1     &kp N2     &kp N3     &kp PLUS       &kp INSERT &kp DELETE &kp ESC    &kp ENTER  &kp DOT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &key_repeat &lt BLUETOOTH SPACE     &trans    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   {      │  &       │  *       │  (       │   [      │   │  ^       │  (       │  )       │  ]       │  ~       
            &kp LBRC    &kp AMPS  &kp ASTRK  &kp LPAR  &kp LBKT       &kp CARET  &kp LPAR   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  )       │  $       │  %       │  ^       │  _       │   │  /       │  ,       │  |       │  \       │  `       │
           HRML(RPAR,  DLLR,       PRCNT,     CARET)    &kp UNDER      &kp FSLH  HRMR(COMMA,  PIPE,     BSLH,     GRAVE)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ]       │  !       │  @       │ #        │   }      │   │  -       │  .       │  +       │ SPACE    │          │
            &kp RBKT  &kp EXCL    &kp AT     &kp HASH    &kp RBRC     &kp MINUS   &kp DOT    &kp PLUS   &kp SPACE  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans      &lt MOUSE ENTER &key_repeat
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │ BACKWARD │ PREVIOUS │PLAY/PAUSE│ NEXT     │ FORWARD  │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0   &kp C_RW   &kp C_PREVIOUS &kp C_PP &kp C_NEXT &kp C_FF
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │   BASS   │ VOL DN   │  MUTE    │  VOL UP  │  RECORD  │
          &bootloader  &trans     &trans  &out OUT_TOG &bt BT_SEL 1   &kp C_BASS_BOOST &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP  &kp C_RECORD
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans  &tog COLEMAK &bt BT_CLR &bt BT_SEL 2   &kp C_BRI_MIN &kp C_BRI_DN &kp C_BRI_UP &kp C_BRI_MAX &kp C_BKLT_TOG
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mouse_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp Q      &kp W      &kp E      &kp R      &kp T          U_WH_L     &mkp LCLK  U_WH_U     &mkp RCLK  U_WH_R
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp A      &kp S      &kp D      &kp F      &mkp LCLK      &mkp MCLK  U_MS_L     U_MS_D     U_MS_U     U_MS_R 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
          &ht LSHFT Z &ht LALT X &ht LCTRL C &kp TAB  &mkp RCLK       &mkp MB4   &mkp RCLK  U_WH_D     &mkp LCLK  &lt MOUSE_NUM ESC
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &tog MOUSE &kp SPACE      &dec_sens  &inc_sens
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        
        
        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp F12    &kp F7     &kp F8     &kp F9     &trans         &trans     &kt LGUI   &kt LCTRL  &kt LALT   &kt LSHFT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //           │          │          │          │          │   │          │          │          │          │          │
           &kp F11    &kp F4    &kp F5      &kp F6     &trans         &trans     &sk LGUI   &sk LCTRL  &sk LALT   &sk LSHFT 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp F10    &kp F1    &kp F2      &kp F3     &trans         &trans     &tog MOUSE  &trans    &tog EMOJI_1  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mouse_num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp N7      &kp W     &kp N8     &kp N9     &kp D          U_WH_L     &mkp LCLK  U_WH_U     &mkp RCLK  U_WH_R
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp A      &kp N4     &kp N5     &kp N6     &mkp LCLK      &mkp MCLK  U_MS_L     U_MS_D     U_MS_U     U_MS_R 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
         &ht LSHFT Z &META LALT N1 &META LCTRL N2 &META LGUI N3 &mkp RCLK   &mkp MB4   &mkp RCLK  U_WH_D     &mkp LCLK  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &tog MOUSE &kp SPACE      &dec_sens  &inc_sens
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

    };

    emoji_1_layer {
          bindings = <
              //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
              //│    😆    │    😉    │    😊    │    😍    │    🤔    │   │    😅    │    🙃    │    😈    │    🤭    │    🥳    │
                &grin_squint &wink      &smile_eyes &heart_eyes &thinking    &grin_sweat &upside_down &smiling_imp &hand_over_mouth &party
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    🤩    │    😭    │    😏    │    🤣    │    😄    │   │    🤗    │    😂    │    😘    │    🥰    │    🥶    │
                &star_struck &sob       &smirk      &rofl      &grin_smiling_eyes &hug      &joy      &kiss     &smile_hearts &cold
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    💤    │    💀    │    😢    │    🤮    │    🤨    │   │    😐    │    🤑    │    🤯    │    😴    │    🤪    │
                &trans         &trans    &trans    &trans     &trans       &trans      &trans    &trans      &sleep      &zany
              //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                               &tog EMOJI_1 &trans     &trans     &tog EMOJI_2     
              //                               ╰──────────┴──────────╯   ╰──────────┴──────────╯
          >;
      };

      emoji_2_layer {
          bindings = <
              //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
              //│    👍    │    👎    │    👏    │    🤛    │    🤜    │   │    🤞    │    🙏    │    ❤️    │    🖤    │    🫶    │
                &thumbs_up  &thumbs_down &clap      &fist_left &fist_right  &fingers_crossed &pray &red_heart &black_heart &heart_hands
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    💖    │    🙌    │    👋    │    🤌    │    ✨    │   │    🖕    │    🎲    │    💖    │    🔥    │    👇    │
                &cupid_heart &raised_hands &wave  &pinch    &sparkles    &middle_finger   &dice &heart_present &fire &point
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    👈    │    ❤️🔥   │    👐    │    🤙    │    🤝    │   │    ✍️     │    💪    │    🧠    │    🙅    │    🤦    │
                &pinch2      &heart_on_fire &palm   &shaka      &handshake   &writing         &biceps &brain &no_hands &facepalm
              //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                               &tog EMOJI_2 &trans     &trans     &tog EMOJI_1     
              //                               ╰──────────┴──────────╯   ╰──────────┴──────────╯
          >;
      };
};
