// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "mouse.dtsi"
// #define HOST_OS 1  
// #include "unicode_helper.h"
// #include "emojis.dtsi"

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &META LALT k2  &META LCTRL k3  &META LGUI k4
#define HRMR(k1,k2,k3,k4) &META RGUI k1  &META RCTRL k2  &META RALT k3  &ht RSHFT k4

#define DEFAULT 0
#define COLEMAK 1
#define NUMBER 2
#define SYMBOL 3
#define BLUETOOTH 4
#define MOUSE 5
#define NAV 6
#define MOUSE_NUM 7
#define EMOJI_1 8
#define EMOJI_2 9


#ifndef ZMK_MOUSE_DEFAULT_MOVE_VAL
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 200
#endif

#ifndef ZMK_MOUSE_DEFAULT_SCRL_VAL
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 30
#endif




&key_repeat {
    usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
};


/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <120>;
            quick-tap-ms = <90>;
            bindings = <&kp>, <&kp>;
        };
        
        META: meta_behavior {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <120>;
            bindings = <&kp>, <&kp>;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        qwerty_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,        SQT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ REPEAT   │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B         &kp N      &kp M   &kp COMMA  &key_repeat  &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt SYMBOL TAB &lt NAV SPACE &lt MOUSE ENTER  &lt NUMBER BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        colemak_dh_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "     │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  K       │  N       │  E       │  I       │  O       │
            HRML(A,        R,         S,         T)     &kp G          &kp K      HRMR(N,        E,        I,        O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  M       │  H       │ , <      │ REPEAT   │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V         &kp M      &kp H      &kp COMMA &key_repeat &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &lt SYMBOL TAB &lt NAV SPACE &lt MOUSE ENTER  &lt NUMBER BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ /        │  7       │  8       │  9       │  =       │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  :       │
            &kp FSLH    &kp N7     &kp N8     &kp N9     &kp EQUAL     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ 0        │  4       │  5       │  6       │  -       │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ;       │
            HRML(N0,    N4,         N5,         N6)     &kp MINUS         &kp LARW  HRMR(DARW,   UARW,       RARW,      SEMI)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ *        │  1       │  2       │  3       │  +       │   │  INSERT  │  DELETE  │ ESCAPE   │  ,       │  .       │
           &kp ASTRK  &kp N1     &kp N2     &kp N3     &kp PLUS       &kp INSERT &kp DELETE &kp ESC    &kp ENTER  &kp DOT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &key_repeat &lt BLUETOOTH SPACE     &trans    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│   {      │  &       │  *       │  (       │   [      │   │  ^       │  ;       │  )       │  ]       │  ~       
            &kp LBRC    &kp AMPS  &kp ASTRK  &kp LPAR  &kp LBKT       &kp CARET  &kp SEMI   &kp RPAR   &kp RBKT   &kp TILDE
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  )       │  $       │  %       │  ^       │  _       │   │  /       │  ,       │  |       │  \       │  `       │
           HRML(RPAR,  DLLR,       PRCNT,     CARET)    &kp UNDER      &kp FSLH  HRMR(COMMA,  PIPE,     BSLH,     GRAVE)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ]       │  !       │  @       │ #        │   }      │   │  -       │  .       │  +       │ SPACE    │          │
            &kp RBKT  &kp EXCL    &kp AT     &kp HASH    &kp RBRC     &kp MINUS   &kp DOT    &kp PLUS   &kp SPACE  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans      &lt MOUSE ENTER &key_repeat
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │ BACKWARD │ PREVIOUS │PLAY/PAUSE│ NEXT     │ FORWARD  │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0   &kp C_RW   &kp C_PREVIOUS &kp C_PP &kp C_NEXT &kp C_FF
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │   BASS   │ VOL DN   │  MUTE    │  VOL UP  │  RECORD  │
          &bootloader  &trans     &trans  &out OUT_TOG &bt BT_SEL 1   &kp C_BASS_BOOST &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP  &kp C_RECORD
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans  &tog COLEMAK &bt BT_CLR &bt BT_SEL 2   &kp C_BRI_MIN &kp C_BRI_DN &kp C_BRI_UP &kp C_BRI_MAX &kp C_BKLT_TOG
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mouse_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp Q      &kp W      &kp E      &kp R      &kp T          U_WH_L     &mkp LCLK  U_WH_U     &mkp RCLK  U_WH_R
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp A      &kp S      &kp D      &kp F      &mkp LCLK      &mkp MCLK  U_MS_L     U_MS_D     U_MS_U     U_MS_R 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
          &ht LSHFT Z &ht LALT X &ht LCTRL C &kp TAB  &mkp RCLK       &mkp MB4   &mkp RCLK  U_WH_D     &mkp LCLK  &lt MOUSE_NUM ESC
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &tog MOUSE &kp SPACE      &dec_sens  &inc_sens
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        
        
        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp F12    &kp F7     &kp F8     &kp F9     &trans         &trans     &kt LGUI   &kt LCTRL  &kt LALT   &kt LSHFT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //           │          │          │          │          │   │          │          │          │          │          │
           &kp F11    &kp F4    &kp F5      &kp F6     &trans         &trans     &sk LGUI   &sk LCTRL  &sk LALT   &sk LSHFT 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp F10    &kp F1    &kp F2      &kp F3     &trans         &trans     &tog MOUSE  &trans    &tog EMOJI_1 &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mouse_num_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp N7      &kp W     &kp N8     &kp N9     &kp D          U_WH_L     &mkp LCLK  U_WH_U     &mkp RCLK  U_WH_R
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
           &kp A      &kp N4     &kp N5     &kp N6     &mkp LCLK      &mkp MCLK  U_MS_L     U_MS_D     U_MS_U     U_MS_R 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
         &ht LSHFT Z &META LALT N1 &META LCTRL N2 &META LGUI N3     &mkp RCLK   &mkp MB4   &mkp RCLK  U_WH_D     &mkp LCLK  &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &tog MOUSE &kp SPACE      &dec_sens  &inc_sens
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        unicode_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ grin_sq  │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &grin_squint &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ wink     │  S       │  D       │  F       │  G       │   │  H       │ smile_e  │ heart_e  │ thinkin  │ ' "      │
            &wink      &kp S      &kp D      &kp F      &kp G          &kp H      &smile_eyes &heart_eyes &thinking &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ REPEAT   │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &key_repeat &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lt SYMBOL TAB &lt NAV SPACE &lt MOUSE ENTER  &lt NUMBER BSPC
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

      
      emoji_1_layer {
          bindings = <
              //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
              //│    😆    │    😉    │    😊    │    😍    │    🤔    │   │    😅    │    🙃    │    😈    │    🤭    │    🥳    │
                &grin_squint &wink      &smile_eyes &heart_eyes &thinking    &grin_sweat &upside_down &smiling_imp &hand_over_mouth &party
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    🤩    │    😭    │    😏    │    🤣    │    😄    │   │    🤗    │    😂    │    😘    │    🥰    │    🥶    │
                &star_struck &sob       &smirk      &rofl      &grin_smiling_eyes &hug      &joy      &kiss     &smile_hearts &cold
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    💤    │    💀    │    😢    │    🤮    │    🤨    │   │    😐    │    🤑    │    🤯    │    😴    │    🤪    │
                &zzz         &skull      &crying     &vomit     &raised_eyebrow &neutral   &money    &exploding_head &sleep      &zany
              //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                               &tog EMOJI_1 &trans     &trans     &tog EMOJI_2     
              //                               ╰──────────┴──────────╯   ╰──────────┴──────────╯
          >;
      };

      emoji_2_layer {
          bindings = <
              //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
              //│    👍    │    👎    │    👏    │    🤛    │    🤜    │   │    🤞    │    🙏    │    ❤️    │    🖤    │    🫶    │
                &thumbs_up  &thumbs_down &clap      &fist_left &fist_right  &fingers_crossed &pray &red_heart &black_heart &heart_hands
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    💖    │    🙌    │    👋    │    🤌    │    ✨    │   │    🖕    │    🎲    │    💖    │    🔥    │    👇    │
                &cupid_heart &raised_hands &wave  &pinch    &sparkles    &middle_finger   &dice &heart_present &fire &point
              //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
              //│    👈    │    ❤️🔥   │    👐    │    🤙    │    🤝    │   │    ✍️     │    💪    │    🧠    │    🙅    │    🤦    │
                &pinch2      &heart_on_fire &palm   &shaka      &handshake   &writing         &biceps &brain &no_hands &facepalm
              //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                               &tog EMOJI_2 &trans     &trans     &tog EMOJI_1     
              //                               ╰──────────┴──────────╯   ╰──────────┴──────────╯
          >;
      };

      macros {
          // Grinning Squinting Face (😆)
          grin_squint: grin_squint {
              label = "GRIN_SQUINT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 6 &kp SPC>;
          };

          // Winking Face (😉)
          wink: wink {
              label = "WINK";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 9 &kp SPC>;
          };

          // Smiling Face with Smiling Eyes (😊)
          smile_eyes: smile_eyes {
              label = "SMILE_EYES";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp A &kp SPC>;
          };

          // Heart Eyes (😍)
          heart_eyes: heart_eyes {
              label = "HEART_EYES";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp D &kp SPC>;
          };

          // Thinking Face (🤔)
          thinking: thinking {
              label = "THINKING";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp 4 &kp SPC>;
          };

          // Grinning Face with Sweat (😅)
          grin_sweat: grin_sweat {
              label = "GRIN_SWEAT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 5 &kp SPC>;
          };

          // Upside-Down Face (🙃)
          upside_down: upside_down {
              label = "UPSIDE_DOWN";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 4 &kp 3 &kp SPC>;
          };

          // Smiling Face with Horns (😈)
          smiling_imp: smiling_imp {
              label = "SMILING_IMP";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 8 &kp SPC>;
          };

          // Face with Hand Over Mouth (🤭)
          hand_over_mouth: hand_over_mouth {
              label = "HAND_OVER_MOUTH";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 2 &kp D &kp SPC>;
          };

          // Party Popper (🥳)
          party: party {
              label = "PARTY";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 7 &kp 3 &kp SPC>;
          };

          // Star-Struck (🤩)
          star_struck: star_struck {
              label = "STAR_STRUCK";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 2 &kp 9 &kp SPC>;
          };

          // Sob (😭)
          sob: sob {
              label = "SOB";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 2 &kp D &kp SPC>;
          };

          // Smirk (😏)
          smirk: smirk {
              label = "SMIRK";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp F &kp SPC>;
          };

          // Rolling on the Floor Laughing (🤣)
          rofl: rofl {
              label = "ROFL";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 2 &kp 3 &kp SPC>;
          };

          // Grinning Face with Smiling Eyes (😄)
          grin_smiling_eyes: grin_smiling_eyes {
              label = "GRIN_SMILING_EYES";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 4 &kp SPC>;
          };

          // Hugging Face (🤗)
          hug: hug {
              label = "HUG";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp 7 &kp SPC>;
          };

          // Face with Tears of Joy (😂)
          joy: joy {
              label = "JOY";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 0 &kp 2 &kp SPC>;
          };

          // Face Blowing a Kiss (😘)
          kiss: kiss {
              label = "KISS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 1 &kp 8 &kp SPC>;
          };

          // Smiling Face with Hearts (🥰)
          smile_hearts: smile_hearts {
              label = "SMILE_HEARTS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 7 &kp 0 &kp SPC>;
          };

          // Cold Face (🥶)
          cold: cold {
              label = "COLD";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 7 &kp 6 &kp SPC>;
          };

          // Sleeping Face (😴)
          sleep: sleep {
              label = "SLEEP";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 3 &kp 4 &kp SPC>;
          };

          // Zany Face (🤪)
          zany: zany {
              label = "ZANY";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 2 &kp A &kp SPC>;
          };

          // Thumbs Up (👍)
          thumbs_up: thumbs_up {
              label = "THUMBS_UP";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp D &kp SPC>;
          };

          // Thumbs Down (👎)
          thumbs_down: thumbs_down {
              label = "THUMBS_DOWN";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp E &kp SPC>;
          };

          // Clapping Hands (👏)
          clap: clap {
              label = "CLAP";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp F &kp SPC>;
          };

          // Left-Facing Fist (🤛)
          fist_left: fist_left {
              label = "FIST_LEFT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp B &kp SPC>;
          };

          // Right-Facing Fist (🤜)
          fist_right: fist_right {
              label = "FIST_RIGHT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp C &kp SPC>;
          };

          // Crossed Fingers (🤞)
          fingers_crossed: fingers_crossed {
              label = "FINGERS_CROSSED";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp E &kp SPC>;
          };

          // Folded Hands (🙏)
          pray: pray {
              label = "PRAY";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 4 &kp F &kp SPC>;
          };

          // Red Heart (❤️)
          red_heart: red_heart {
              label = "RED_HEART";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N2 &kp 7 &kp 6 &kp 4 &kp SPC>;
          };

          // Black Heart (🖤)
          black_heart: black_heart {
              label = "BLACK_HEART";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F5 &kp A &kp 4 &kp SPC>;
          };

          // Heart Hands (🫶)
          heart_hands: heart_hands {
              label = "HEART_HANDS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 0 &kp D &kp SPC>;
          };

          // Sparkling Heart (💖)
          cupid_heart: cupid_heart {
              label = "CUPID_HEART";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 9 &kp 6 &kp SPC>;
          };

          // Raised Hands (🙌)
          raised_hands: raised_hands {
              label = "RAISED_HANDS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 4 &kp C &kp SPC>;
          };

          // Waving Hand (👋)
          wave: wave {
              label = "WAVE";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp B &kp SPC>;
          };

          // Pinched Fingers (🤌)
          pinched_fingers: pinched_fingers {
              label = "PINCHED_FINGERS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 0 &kp C &kp SPC>;
          };

          // Sparkles (✨)
          sparkles: sparkles {
              label = "SPARKLES";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N2 &kp 7 &kp 2 &kp 8 &kp SPC>;
          };

          // Middle Finger (🖕)
          middle_finger: middle_finger {
              label = "MIDDLE_FINGER";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F5 &kp 9 &kp 5 &kp SPC>;
          };

          // Game Die (🎲)
          dice: dice {
              label = "DICE";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F3 &kp B &kp 2 &kp SPC>;
          };

          // Heart with Arrow (💖)
          heart_present: heart_present {
              label = "HEART_PRESENT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 9 &kp E &kp SPC>;
          };

          // Fire (🔥)
          fire: fire {
              label = "FIRE";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F5 &kp 2 &kp 5 &kp SPC>;
          };

          // Down Arrow (👇)
          point: point {
              label = "POINT";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp 7 &kp SPC>;
          };

          // Left Arrow (👈)
          pinch2: pinch2 {
              label = "PINCH2";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 4 &kp 8 &kp SPC>;
          };

          // Heart on Fire (❤️‍🔥)
          heart_on_fire: heart_on_fire {
              label = "HEART_ON_FIRE";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N2 &kp 7 &kp 6 &kp 4 &kp N1 &kp F9 &kp 4 &kp 6 &kp SPC>;
          };

          // Open Hands (👐)
          palm: palm {
              label = "PALM";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp 5 &kp 0 &kp SPC>;
          };

          // Call Me Hand (🤙)
          shaka: shaka {
              label = "SHAKA";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp 9 &kp SPC>;
          };

          // Handshake (🤝)
          handshake: handshake {
              label = "HANDSHAKE";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp D &kp SPC>;
          };

          // Writing Hand (✍️)
          writing: writing {
              label = "WRITING";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N2 &kp 7 &kp 0 &kp D &kp SPC>;
          };

          // Flexed Biceps (💪)
          biceps: biceps {
              label = "BICEPS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F4 &kp A &kp A &kp SPC>;
          };

          // Brain (🧠)
          brain: brain {
              label = "BRAIN";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 0 &kp A &kp SPC>;
          };

          // Face with No Good Gesture (🙅)
          no_hands: no_hands {
              label = "NO_HANDS";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F6 &kp 4 &kp 5 &kp SPC>;
          };

          // Facepalm (🤦)
          facepalm: facepalm {
              label = "FACEPALM";
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              tap-ms = <0>;
              wait-ms = <0>;
              bindings = <&macro_press &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp U>,
                         <&macro_release &kp LCTRL &kp LSHFT>,
                         <&macro_tap &kp N1 &kp F9 &kp 1 &kp 6 &kp SPC>;
          };
      };
      
    }
