
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define OS_UNICODE_LEAD &macro_tap &kp LS(LC(U))  // Linux
#define OS_UNICODE_TRAIL &macro_tap &kp RET  // Linux

/ {
    macros {
        grin_squint: grin_squint {
            compatible = "zmk,behavior-macro";
            bindings = <OS_UNICODE_LEAD &macro_tap &kp N1 &kp F6 &kp 0 &kp 6 OS_UNICODE_TRAIL>;
        };
        wink: wink {
            compatible = "zmk,behavior-macro";
            bindings = <OS_UNICODE_LEAD &macro_tap &kp N1 &kp F6 &kp 0 &kp 9 OS_UNICODE_TRAIL>;
        };
        smile_eyes: smile_eyes {
            compatible = "zmk,behavior-macro";
            bindings = <OS_UNICODE_LEAD &macro_tap &kp N1 &kp F6 &kp 0 &kp A OS_UNICODE_TRAIL>;
        };
        heart_eyes: heart_eyes {
            compatible = "zmk,behavior-macro";
            bindings = <OS_UNICODE_LEAD &macro_tap &kp N1 &kp F6 &kp 0 &kp D OS_UNICODE_TRAIL>;
        };
        thinking: thinking {
            compatible = "zmk,behavior-macro";
            bindings = <OS_UNICODE_LEAD &macro_tap &kp N1 &kp F9 &kp 1 &kp 4 OS_UNICODE_TRAIL>;
        };
    };
};
