

/ {
    behaviors {
        grin_squint {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 6 &macro_tap &kp RET>;
        };

        wink {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 9 &macro_tap &kp RET>;
        };

        smile_eyes {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp A &macro_tap &kp RET>;
        };

        heart_eyes {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp D &macro_tap &kp RET>;
        };

        thinking {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp 4 &macro_tap &kp RET>;
        };

        grin_sweat {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 5 &macro_tap &kp RET>;
        };

        upside_down {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 4 &kp 3 &macro_tap &kp RET>;
        };

        smiling_imp {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 8 &macro_tap &kp RET>;
        };

        hand_over_mouth {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp D &macro_tap &kp RET>;
        };

        party {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 7 &kp 3 &macro_tap &kp RET>;
        };

        star_struck {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp 9 &macro_tap &kp RET>;
        };

        sob {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 2 &kp D &macro_tap &kp RET>;
        };

        smirk {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp F &macro_tap &kp RET>;
        };

        rofl {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp 3 &macro_tap &kp RET>;
        };

        grin_smiling_eyes {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 4 &macro_tap &kp RET>;
        };

        hug {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp 7 &macro_tap &kp RET>;
        };

        joy {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 0 &kp 2 &macro_tap &kp RET>;
        };

        kiss {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 1 &kp 8 &macro_tap &kp RET>;
        };

        smile_hearts {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 7 &kp 0 &macro_tap &kp RET>;
        };

        cold {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 7 &kp 6 &macro_tap &kp RET>;
        };

        zzz {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp A &kp 4 &macro_tap &kp RET>;
        };

        skull {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 8 &kp 0 &macro_tap &kp RET>;
        };

        crying {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 2 &kp 2 &macro_tap &kp RET>;
        };

        vomit {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp E &macro_tap &kp RET>;
        };

        raised_eyebrow {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp 8 &macro_tap &kp RET>;
        };

        neutral {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 1 &kp 0 &macro_tap &kp RET>;
        };

        money {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp 1 &macro_tap &kp RET>;
        };

        exploding_head {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp F &macro_tap &kp RET>;
        };

        sleep {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 3 &kp 4 &macro_tap &kp RET>;
        };

        zany {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp A &macro_tap &kp RET>;
        };

        thumbs_up {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp D &macro_tap &kp RET>;
        };

        thumbs_down {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp E &macro_tap &kp RET>;
        };

        clap {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp F &macro_tap &kp RET>;
        };

        fist_left {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp B &macro_tap &kp RET>;
        };

        fist_right {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp C &macro_tap &kp RET>;
        };

        fingers_crossed {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp E &macro_tap &kp RET>;
        };

        pray {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 4 &kp F &macro_tap &kp RET>;
        };

        red_heart {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N2 &kp 7 &kp 6 &kp 4 &macro_tap &kp RET>;
        };

        black_heart {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F5 &kp A &kp 4 &macro_tap &kp RET>;
        };

        heart_hands {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 0 &kp D &macro_tap &kp RET>;
        };

        cupid_heart {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 9 &kp 6 &macro_tap &kp RET>;
        };

        raised_hands {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 4 &kp C &macro_tap &kp RET>;
        };

        wave {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp B &macro_tap &kp RET>;
        };

        pinched_fingers {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 0 &kp C &macro_tap &kp RET>;
        };

        sparkles {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N2 &kp 7 &kp 2 &kp 8 &macro_tap &kp RET>;
        };

        middle_finger {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F5 &kp 9 &kp 5 &macro_tap &kp RET>;
        };

        dice {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F3 &kp B &kp 2 &macro_tap &kp RET>;
        };

        heart_present {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 9 &kp E &macro_tap &kp RET>;
        };

        fire {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F5 &kp 2 &kp 5 &macro_tap &kp RET>;
        };

        point {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp 7 &macro_tap &kp RET>;
        };

        hand_left {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 4 &kp 8 &macro_tap &kp RET>;
        };

        heart_on_fire_lower {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N2 &kp 7 &kp 6 &kp 4 &macro_tap &kp RET>;
        };

        heart_on_fire_upper {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 4 &kp 6 &macro_tap &kp RET>;
        };

        heart_on_fire {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&heart_on_fire_lower &heart_on_fire_upper>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        palm {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp 5 &kp 0 &macro_tap &kp RET>;
        };

        shaka {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp 9 &macro_tap &kp RET>;
        };

        handshake {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 1 &kp D &macro_tap &kp RET>;
        };

        writing {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N2 &kp 7 &kp 0 &kp D &macro_tap &kp RET>;
        };

        biceps {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F4 &kp A &kp A &macro_tap &kp RET>;
        };

        brain {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp E &kp 0 &macro_tap &kp RET>;
        };

        no_hands {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F6 &kp 4 &kp 5 &macro_tap &kp RET>;
        };

        facepalm {
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp N1 &kp F9 &kp 2 &kp 6 &macro_tap &kp RET>;
        };
    };
};

