
// emoji_keybinds.dtsi

// Smileys & Emotion
#define U_GRIN_SQUINT 0x1F606  // 😆
#define U_WINK 0x1F609  // 😉
#define U_SMILE_EYES 0x1F60A  // 😊
#define U_HEART_EYES 0x1F60D  // 😍
#define U_THINKING 0x1F914  // 🤔
#define U_GRIN_SWEAT 0x1F605  // 😅
#define U_UPSIDE_DOWN 0x1F643  // 🙃
#define U_SMILING_IMP 0x1F608  // 😈
#define U_HAND_OVER_MOUTH 0x1F92D  // 🤭
#define U_PARTY 0x1F973  // 🥳
#define U_STAR_STRUCK 0x1F929  // 🤩
#define U_SOB 0x1F62D  // 😭
#define U_SMIRK 0x1F60F  // 😏
#define U_ROFL 0x1F923  // 🤣
#define U_GRIN_SMILING_EYES 0x1F604  // 😄
#define U_HUG 0x1F917  // 🤗
#define U_JOY 0x1F602  // 😂
#define U_KISS 0x1F618  // 😘
#define U_SMILE_HEARTS 0x1F970  // 🥰
#define U_COLD 0x1F976  // 🥶
#define U_ZZZ 0x1F4A4  // 💤
#define U_SKULL 0x1F480  // 💀
#define U_CRYING 0x1F622  // 😢
#define U_VOMIT 0x1F92E  // 🤮
#define U_RAISED_EYEBROW 0x1F928  // 🤨
#define U_NEUTRAL 0x1F610  // 😐
#define U_MONEY 0x1F911  // 🤑
#define U_EXPLODING_HEAD 0x1F92F  // 🤯
#define U_SLEEP 0x1F634  // 😴
#define U_ZANY 0x1F92A  // 🤪

#define U_THUMBS_UP 0x1F44D // 👍
#define U_THUMBS_DOWN 0x1F44E // 👎
#define U_CLAP 0x1F44F // 👏
#define U_FIST_LEFT 0x1F91B // 🤛
#define U_FIST_RIGHT 0x1F91C // 🤜
#define U_FINGERS_CROSSED 0x1F91E // 🤞
#define U_PRAY 0x1F64F // 🙏
#define U_RED_HEART 0x2764  // ❤️
#define U_BLACK_HEART 0x1F5A4 // 🖤
#define U_HEART_HANDS 0x1F90D // 🫶
#define U_CUPID_HEART 0x1F496 // 💖
#define U_RAISED_HANDS 0x1F64C // 🙌
#define U_WAVE 0x1F44B // 👋
#define U_PINCH 0x1F90C // 🤌
#define U_SPARKLES 0x2728  // ✨
#define U_MIDDLE_FINGER 0x1F595 // 🖕
#define U_DICE 0x1F3B2 // 🎲
#define U_HEART_PRESENT 0x1F49E // 💖
#define U_FIRE 0x1F525 // 🔥
#define U_POINT 0x1F447 // 👇
#define U_PINCH2 0x1F448 // 👈
#define U_HEART_ON_FIRE 0x2764FE0F  // ❤️‍🔥
#define U_PALM 0x1F450 // 👐
#define U_SHAKA 0x1F919 // 🤙
#define U_HANDSHAKE 0x1F91D // 🤝
#define U_WRITING 0x270D  // ✍️
#define U_BICEPS 0x1F4AA // 💪
#define U_BRAIN 0x1F9E0 // 🧠
#define U_NO_HANDS 0x1F645 // 🙅
#define U_FACEPALM 0x1F926 // 🤦
