{
    mmv {
        compatible = "zmk,behavior-mouse-move";
        acceleration-exponent = <U_MOUSE_MOVE_EXPONENT>;
        time-to-max-speed-ms = <U_MOUSE_MOVE_TIME>;
        delay-ms = <U_MOUSE_MOVE_DELAY>;
    };

    msc {
        compatible = "zmk,behavior-mouse-scroll";
        acceleration-exponent = <U_MOUSE_SCROLL_EXPONENT>;
        time-to-max-speed-ms = <U_MOUSE_SCROLL_TIME>;
        delay-ms = <U_MOUSE_SCROLL_DELAY>;
    };
};
